<nz-tabset nzCentered [nzTabPosition]="'left'">
    <nz-tab nzTitle="Basic Info">
        <app-basic-info></app-basic-info>
    </nz-tab>
    <nz-tab nzTitle="Personal info">
        <app-personal-info></app-personal-info>
    </nz-tab>
    <nz-tab nzTitle="Nominee">
        <app-nominee-info></app-nominee-info>
    </nz-tab>
    <nz-tab nzTitle="Contact">
        <app-contact-info></app-contact-info>
    </nz-tab>
    <nz-tab nzTitle="Education">
        <app-education-info></app-education-info>
    </nz-tab>
    <nz-tab nzTitle="Achivements">
        <app-training-info></app-training-info>
    </nz-tab>
    <nz-tab nzTitle="Passport">
        <app-passport-info></app-passport-info>
    </nz-tab>
    <nz-tab nzTitle="Driving License">
        <app-driving-license-info></app-driving-license-info>>
    </nz-tab>
    <nz-tab nzTitle="Experience">

    </nz-tab>
    <nz-tab nzTitle="References">
        <app-references-info></app-references-info>
    </nz-tab>
    <nz-tab nzTitle="Photo">
        <app-employee-photo></app-employee-photo>
    </nz-tab>
</nz-tabset>